<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Página</title>
</head>
<body>
    <h1>Hola, mundo!</h1>
    <p>Última actualización: ya me voy a acostaar {{fecha_actualizacion}}</p>
    <p>Última actualización: {{ fecha_actualizacion }}</p>
    <p>Última actualización: {{ fecha_actualizacion }}</p>
    <script src="{{ url_for('static', filename='js/archivosimple.js') }}"></script>
    <script>
      console.log("esto va bien pruebaotravez");
      console.log(1967);
      console.log(uno);
   </script>



   </body>
</html>